* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #57c1eb 0%,#246fa8 100%);
    font-size: 62.5%;
}

body {
    display: grid;
    place-items: center center;
}

.chat-container {
    min-width: 80vw;
    max-width: 95vw;
    max-height: 80vh;
    width: 100%;
    height: 95vh;
    background: #FFF;
    border-radius: 10px;
    display: grid;
    grid-auto-flow: column;
    grid:
        "search-container chat-title" 7.1rem
        "conversation-list chat-message-list" 1fr
        "new-message-container chat-form" 7.8rem
        / 27.5rem 1fr
}

.search-container,
.conversation-list,
.new-message-container {
    background: #0048AA;
}

.search-container {
    border-radius: 10px 0 0 0;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    z-index: 1;
    grid-area: search-container;
    display:grid;
    place-items: center center;
}

.search-container input {
    color: #eee;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    height: 2.14em;
    border: 0;
    padding-left: 3.43em;
    padding-right: 1.43em;
    font-size: 1.4rem;
    background: url('../images/search/search.svg') no-repeat rgba(255, 255, 255, 0.3);
    background-position: 1em center;
    background-size: 1.43em 1.43em;
}

.search-container input::placeholder {
    color: #ddd;
    font-weight: bold;
}

.conversation-list {
    grid-area: conversation-list;
    overflow-y:scroll;
    scrollbar-width: none;
}

.conversation {
    color: #ddd;
    font-size: 1.3rem;
    border-bottom: 1px solid #002C88;
    padding: 1.54em 1.54em 1.54em 1.15em;
    display: grid;
    grid-template-columns: 4rem 1fr max-content;
    gap: 1em;
}

.conversation.active,
.conversation:hover {
    background: #002C88;
}

.conversation:hover {
    cursor: pointer;
}

.conversation > img {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    grid-row: span 2;
}

.title-text {
    font-weight: bold;
    color: #eee;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.created-date {
    color: #ddd;
    white-space: nowrap;
    font-size: 1rem;
}

.conversation-message {
    grid-column: span 2;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.new-message-container {
    border-top: 1px solid rgba(0,0,0,0.25);
    border-radius: 0 0 0 10px;
    grid-area: new-message-container;
    padding: 0 1.5em;
    display: grid;
    grid: 4rem / 4rem;
    place-content: center start;
}

.new-message-container a {
    background: #eee;
    border-radius: 100%;
    color: #002C88;
    text-decoration: none;
    font-size: 3.6rem;
    display: grid;
    place-content: center center;
}

.chat-title,
.chat-form {
    background: #eee;
}

.chat-title {
    color: #0048AA;
    font-weight: bold;
    font-size: 2.0rem;
    border-radius: 0 10px 0 0;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    grid-area: chat-title;
    padding: 0 1em;
    display: grid;
    grid: 3.6rem / 1fr 3.6rem;
    align-content: center;
    align-items: center;
}

.chat-title > img 
.chat-form > img {
    cursor: pointer;
}

.chat-message-list {
    grid-area: chat-message-list;
}

.chat-form {
    border-radius: 0 0 10px 0;
    border-top: 1px solid rgba(0,0,0,0.25);
    grid-area: chat-form;
    padding: 0 4.2em 0 2.2em;
    display: grid;
    grid: 4rem / 3rem 1fr;
    align-content: center;
    align-items: center;
    gap: 1.5em;
}

.chat-form input {
    outline: none;
    padding: 1em;
    border: 2px solid #ddd;
    color: #330;
    border-radius: 6px;
    font-size: 1.4rem;
}

::-webkit-scrollbar {
    display: none;
}

